<div>
  <h2>Template-Driven Form</h2>
  <form #userForm="ngForm" (ngSubmit)="onFormSubmit(userForm)">
    <div [hidden]="userForm.submitted">
      <div class="cross-validation" [class.cross-validation-error]="userForm.errors?.identityRevealed && (userForm.touched || userForm.dirty)">
        <div class="form-group">
          <label for="firstname">First Name</label>
          <input type="text" id="firstname" name="firstname" class="form-control"
                required minlength="2" maxlength="50"
                [(ngModel)]="user.firstname" #firstname="ngModel">
          <div *ngIf="firstname.invalid && (firstname.dirty || firstname.touched)"
              class="alert">
            <div *ngIf="firstname.errors?.required">
              First Name is required.
            </div>
            <div *ngIf="firstname.errors?.minlength">
              First Name must be at least 2 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="middlename">Middle Name</label>
          <input type="text" id="middlename" name="middlename" class="form-control"
                maxlength="50"
                [(ngModel)]="user.middlename" #middlename="ngModel">          
        </div>
        <div class="form-group">
          <label for="lastname">Last Name</label>
          <input type="text" id="lastname" name="lastname" class="form-control"
                required minlength="2" maxlength="50"
                [(ngModel)]="user.lastname" #lastname="ngModel">
          <div *ngIf="lastname.invalid && (lastname.dirty || lastname.touched)"
              class="alert">
            <div *ngIf="lastname.errors?.required">
              Last Name is required.
            </div>
            <div *ngIf="lastname.errors?.minlength">
              Last Name must be at least 2 characters long.
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="emailid">Email Id</label>
          <input type="email" id="emailid" name="emailid" class="form-control"
                required minlength="6" maxlength="50" [pattern]="emailPattern"
                [(ngModel)]="user.email" #email="ngModel" email>          
          <div *ngIf="(email.invalid && (email.dirty || email.touched))|| (email.errors && userForm.submitted && !isValidFormSubmitted)"
              class="alert">
            <div *ngIf="email.errors?.required">
              Email Id is required.
            </div>            
            <div *ngIf="email.errors?.pattern"> 
              Email Id not valid.
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <select id="gender"
                name="gender"
                required [(ngModel)]="user.gender"
                #gender="ngModel">
          <option *ngFor="let g of genders" [value]="g">{{g}}</option>
        </select>
        <div *ngIf="gender.errors && gender.touched" class="alert">
          <div *ngIf="gender.errors.required">Gender is required.</div>
        </div>
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <select id="age"
                name="age"
                required [(ngModel)]="user.age"
                #age="ngModel">
          <option *ngFor="let in of counter(100) ;let i = index" [value]="i">{{i}}</option>
        </select>
        <div *ngIf="age.errors && age.touched" class="alert">
          <div *ngIf="age.errors.required">Age is required.</div>
        </div>
      </div>    
      <div class="form-group">
        <label for="birthdate">Date of Birth</label>
        <mat-form-field appearance="fill">          
          <input class="form-control" matInput [matDatepicker]="picker" [(ngModel)]="user.birthdate" placeholder="{{user.birthdate}}" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>                
      </div>  
      <div class="form-group">
        <label for="address">Address</label>
        <mat-form-field class="form-control" appearance="fill">          
          <textarea class="form-control" matInput [(ngModel)]="user.address" #address="ngModel" [pattern]="addressPattern" maxlength="500"></textarea>
        </mat-form-field>   
        <div *ngIf="(address.invalid && (address.dirty || address.touched))|| (address.errors && userForm.submitted && !isValidFormSubmitted)"
              class="alert">                     
            <div *ngIf="address.errors?.pattern"> 
              Address is not valid.
            </div>
          </div>            
      </div>  
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" id="state" name="state" class="form-control"
              maxlength="100"
              [(ngModel)]="user.state" #state="ngModel" [pattern]="statePattern">
        <div *ngIf="state.invalid && (state.dirty || state.touched)"
            class="alert">            
            <div *ngIf="state.errors?.pattern"> 
            State is not valid.
          </div>          
        </div>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" id="country" name="country" class="form-control"
              required minlength="2" maxlength="100"
              [(ngModel)]="user.country" #country="ngModel">
        <div *ngIf="country.invalid && (country.dirty || country.touched)"
            class="alert">
          <div *ngIf="country.errors?.required">
            Country is required.
          </div>
          <div *ngIf="country.errors?.minlength">
            Country must be at least 2 characters long.
          </div>
          <div *ngIf="country.errors?.pattern"> 
            Country is not valid.
          </div> 
        </div>
      </div>
      <p>Complete the form to enable the Submit button.</p>
      <button type="submit"
              [disabled]="userForm.invalid">Submit</button>
      <button type="button"
              (click)="userForm.resetForm({})">Reset</button>
    </div>
    <div class="submitted-message" *ngIf="userForm.submitted">
      <p>You've submitted your user, {{ userForm.value.name }}!</p>
      <button (click)="userForm.resetForm({})">Add new user</button>
    </div>
  </form>
</div>
